@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <h1>Bem-vindo ao CRUD</h1>
    <p>Você pode cadastrar esses itens:</p>
    <ul>
        <li><a asp-action="Index" asp-controller="Client">Clientes</a></li>
        <li><a asp-action="Index" asp-controller="Product">Produtos</a></li>
    </ul>

</div>